@tailwind preflight;
@tailwind components;

/**
 * Base Styles
 */

html {
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;

  @apply .bg-grey-lighter;
}

@media (max-width: 320px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 21px;
  }
}

body,
input,
select,
textarea {
  @apply .text-grey-darkest;
  @apply .font-sans;
}

html.focus-outline-hidden *:focus {
  outline: none;
}

a {
  color: inherit;
}

hr {
  display: none;
}

small {
  font-size: inherit;
}

strong {
  font-weight: inherit;
}

input::placeholder {
  @apply .font-light;
}

/**
 * Custom component classes
 */

/* ProgressBar */

.ProgressBar {
  @apply .bg-grey-light;
  @apply .w-full;
  @apply .relative;
  @apply .overflow-hidden;

  height: 2px;
}

.ProgressBar::before {
  @apply .bg-blue;
  @apply .block;
  @apply .absolute;

  animation: loadingLineAnim 2s linear infinite;
  content: "";
  height: 2px;
  left: -200px;
  width: 200px;
}

@keyframes loadingLineAnim {
  from {
    left: -200px;
    width: 30%;
  }

  50% {
    width: 30%;
  }

  70% {
    width: 70%;
  }

  80% {
    left: 50%;
  }

  95% {
    left: 120%;
  }

  to {
    left: 100%;
  }
}

@tailwind utilities;

/**
 * Custom utilities
 */

.border-cc {
  border-color: currentColor;
}

.bg-white-85 {
  background-color: rgba(255, 255, 255, 0.85);
}

.transition-bg {
  transition: background-color 200ms;
}

abbr[title].no-underline {
  @apply .no-underline;
}
